{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<br><br>
<div class="container">
    <H4 class="text-center">Organization Details</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Profile</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Mobile</th>
            </tr>
        </thead>
        <tbody>
            {% for t in patients %}
            <tr>
                <td> {{t.get_name}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.age}}</td>
                <td>{{t.disease}}</td>
                <td>{{t.mobile}}</td>
                
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'update-patient' t.id  %}">EDIT</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'delete-patient' t.id  %}">DELETE</a> </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
        
        <a href="{% url 'patientsignup' %}"><h1 class="text-center">Add Organization</h1></a>

    </table>
</div>


{% endblock content %}
